<% standards.each_slice((standards.count+1)/2) do |standard_slice| %>
<table style="text-align:center;border:1px solid black;">
  <thead>
    <tr style="border:1px solid black;">
      <% standard_slice.each do |standard| %>
        <th title="<%= standard.description %>" style="border:1px solid black;"><%= standard.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
      <tr style="border:1px solid black;">
        <% standard_slice.each do |standard| %>
          <td style="border:1px solid black;height:1em;">
            <% student.count_satisfactories_for_standard(standard).times do %>
              <%= Attempt::MARK_HASH["satisfactory"] %>
            <% end %>
          </td>
        <% end %>
      </tr>
  </tbody>
</table>
<% end %>
