<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<%= link_to 'Edit', edit_course_section_path(@section.course,@section) %> |
<%= link_to 'Back', course_sections_path(@section.course)%>
