<% @students.each do |student| %>
  <h3 style="page-break-before:always">
    Progress Report for <%=student.name%>
  </h3>
  <%= render 'students/progress', student: student, standards: @standards, editable: false %>

  <p>Needed for A: </p>
  <ul>
    <li>34/36 checkmarks</li>
    <li>12/12 Core Standards with at least one checkmark</li>
  </ul>

  <p>Needed for B: </p>
  <ul>
    <li>28/36 checkmarks</li>
    <li>10/12 Core Standards with at least one checkmark</li>
  </ul>

  <p>Needed for C: </p>
  <ul>
    <li>22/36 checkmarks</li>
    <li>8/12 Core Standards with at least one checkmark</li>
  </ul>

  <p>Needed for D: </p>
  <ul>
    <li>18/36 checkmarks</li>
  </ul>
<% end %>
