<h1>Editing Standard Category</h1>

<%= render 'form', standard_category: @standard_category %>

<%= link_to 'Show', [@standard_category.course,@standard_category] %> |
<%= link_to 'Back', course_standard_categories_path(@standard_category.course) %>
