<p id="notice"><%= notice %></p>

<h1>Import Gradescope Attempts</h1>

Use the "Export Evaluations" feature. School identifiers must match, and
you must use a rubric of ✔, ✱, ⓘ, then ✘.

<%= render 'upload_form', attempt: @attempt %>

<%= link_to 'Index', course_attempts_path(@course) %>
