<h1>New Attempts for Standard</h1>

<%= render 'new_attempts_form', standard: @standard, students: Student.where(course:@standard.course) %>

<%= link_to 'Show', course_standard_path(@standard.course,@standard) %>
